.card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10%;
  padding-top: 5vh;
  padding-left: 5vw;
}
.container{
  padding: 10px;
  width: 15vw;
}

@media screen and (max-width:1024px){
  .card-container{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5%;
  }

  .container{
    padding: 10px;
    width: 20vw;
  }
 
}

@media screen and (max-width:780px){
  .card-container{
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
  }

  .container{
    padding: 10px;
    width: 30vw;
  }
 
}

@media screen and (max-width:480px){
  .card-container{
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
  }

  .container{
    padding: 10px;
    width: 43vw;
  }
 
}